@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
header {
  text-align: center;
  height: 66px;
}
header > img {
  margin-top: 24px;
  width: 165px;
}

footer {
  background-color: #424242;
  height: 190px;
  color: white;
  padding-left: 6%;
  padding-top: 2px;
}
footer > h2 {
  font-family: "Shrikhand";
  font-size: 1.1em;
  font-weight: inherit;
}
footer > h3 {
  font-family: Arial;
  font-size: 0.95em;
  font-weight: inherit;
  margin-bottom: -7px;
}
footer > h3 > i {
  font-size: 0.8em;
  margin-right: 11px;
}
footer > h3:nth-of-type(2) > i {
  font-size: 0.7em;
  transform: rotate(-10deg);
  margin-right: 7px;
}
footer > h3 > a {
  color: white;
  text-decoration: none;
}

body {
  margin: 0px;
}

body > section:nth-of-type(1) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 336px;
  margin-top: 0px;
  background: #f2f2f2;
  text-align: center;
  font-family: "Roboto";
}
body > section:nth-of-type(1) > p {
  font-size: 1em;
  color: #424242;
  font-weight: bold;
  padding-top: 15px;
  padding-right: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 35px;
  width: 100%;
  background-color: #dedede;
  box-shadow: inset 0px 2px 5px rgba(177, 177, 177, 0.8);
}
body > section:nth-of-type(1) > p > i {
  margin-right: 17px;
}
body > section:nth-of-type(1) > h1 {
  font-family: "Roboto";
  font-weight: bold;
  width: 240px;
  font-size: 1.4em;
  margin-top: -20px;
}
body > section:nth-of-type(1) > h3 {
  font-family: "Roboto";
  font-weight: 400;
  width: 370px;
  color: #636363;
  margin-top: -63px;
  font-size: 1.1em;
}
body > section:nth-of-type(1) > button {
  width: 226px;
  margin-top: -45px;
  height: 50px;
  border: 0px solid black;
  border-radius: 50px;
  color: white;
  font-family: "Roboto";
  font-size: 1em;
  background: linear-gradient(174deg, #FF79DA, #9356DC);
  box-shadow: 0px 3px 9px #afafaf;
  cursor: pointer;
  outline: none;
  transition: all 500ms;
}
body > section:nth-of-type(1) > button:hover {
  background: linear-gradient(174deg, #ff81dc, #975cdd);
  box-shadow: 0px 3px 9px #7d7d7d;
}

body > section:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 430px;
  padding-bottom: 37px;
}
body > section:nth-of-type(2) > h2 {
  flex: auto;
  font-family: "Roboto";
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: -7px;
  font-weight: bold;
}
body > section:nth-of-type(2) > article {
  display: flex;
  align-items: center;
  width: 87%;
  height: 75px;
  border-radius: 20px;
  margin-left: 10px;
  background: #f2f2f2;
  box-shadow: 0px 3.5px 12px #c5c5c5;
  font-family: "Roboto";
  transition: all 250ms;
  cursor: pointer;
}
body > section:nth-of-type(2) > article:hover {
  background: #ece1fa;
}
body > section:nth-of-type(2) > article > p {
  color: white;
  border: 1px solid #9356DC;
  border-radius: 50px;
  background-color: #9356DC;
  padding: 7px;
  padding-top: 3px;
  text-align: center;
  width: 9px;
  height: 12px;
  margin-left: -12px;
  font-size: 14px;
  margin-top: 20px;
  margin-right: 7%;
}
body > section:nth-of-type(2) > article:nth-of-type(1) > i {
  color: gray;
  font-size: 1.3em;
}
body > section:nth-of-type(2) > article:nth-of-type(1):hover > i {
  color: #9356DC;
}
body > section:nth-of-type(2) > article:nth-of-type(2) > i {
  color: gray;
  font-size: 1.2em;
  margin-right: -6.5px;
}
body > section:nth-of-type(2) > article:nth-of-type(2):hover > i {
  color: #9356DC;
}
body > section:nth-of-type(2) > article:nth-of-type(3) > i {
  color: gray;
  font-size: 1.05em;
  margin-right: -8px;
}
body > section:nth-of-type(2) > article:nth-of-type(3):hover > i {
  color: #9356DC;
}
body > section:nth-of-type(2) > article > h3 {
  margin-left: 9%;
  font-size: 17px;
}
body > section:nth-of-type(2) > article:nth-of-type(2) {
  margin-bottom: -12px;
  margin-top: -12px;
}

body > section:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #f2f2f2;
  padding-bottom: 13%;
}
body > section:nth-of-type(3) > h2 {
  flex: auto;
  font-family: "Roboto";
  margin-left: 20px;
  margin-top: 50px;
  font-weight: bold;
}
body > section:nth-of-type(3) > article > a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  text-decoration: none;
}
body > section:nth-of-type(3) > article > a > figure {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 2px;
}
body > section:nth-of-type(3) > article > a > figure > span {
  position: absolute;
  margin-top: 14px;
  right: 8%;
  color: #008c6f;
  border: 0px solid black;
  border-radius: 2.5px;
  padding: 7px;
  padding-right: 11px;
  padding-left: 11px;
  background: #99E2D0;
  font-family: "Roboto";
  font-size: 0.86em;
  font-weight: bold;
}
body > section:nth-of-type(3) > article > a > figure > img {
  width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 3px 8px #a5a5a573;
}
body > section:nth-of-type(3) > article > a > figure > figcaption {
  width: 100%;
  height: 76px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  align-self: flex-end;
  background: white;
  box-shadow: 0px 0px 11px #a5a5a573;
  padding-left: 15px;
  font-family: "Roboto";
}
body > section:nth-of-type(3) > article > a > figure > figcaption > h3 {
  margin-top: 15px;
}
body > section:nth-of-type(3) > article > a > figure > figcaption > p {
  font-size: 1.1em;
  margin-top: -17px;
}
body > section:nth-of-type(3) > article > a > figure > figcaption > i {
  position: absolute;
  margin-top: -55px;
  right: 12%;
  font-size: 1.4em;
  color: black;
  cursor: pointer;
  font-weight: bold;
  background-size: auto 0%;
  background-repeat: no-repeat;
  -webkit-text-stroke-width: 1px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 600ms;
}
body > section:nth-of-type(3) > article > a > figure > figcaption > i:hover {
  color: -webkit-linear-gradient(235deg, #9356DC, #FF79DA);
  background: -webkit-linear-gradient(235deg, #9356DC, #FF79DA);
  color: #5f5f5f;
  background-size: auto 100%;
  background-repeat: no-repeat;
  -webkit-text-stroke-width: thin;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#loading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: -100%;
  background: white;
  width: 0%;
  height: 100%;
  opacity: 0;
  animation: loading 3s;
}
#loading > img {
  width: 140px;
  position: fixed;
  bottom: 42.5%;
  margin-left: 22px;
}
#loading > h2 {
  font-family: "Shrikhand";
  color: #9356DC;
  position: fixed;
  top: 52.5%;
  font-size: 1.8em;
  animation: loadingText 1.5s backwards infinite alternate;
}

@keyframes loading {
  0% {
    width: 100%;
    left: 0%;
    opacity: 1;
    height: 600%;
  }
  100% {
    width: 100%;
    left: 0%;
    opacity: 0.99;
    height: 600%;
  }
}
@keyframes loadingText {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
    color: #99E2D0;
  }
}
@media screen and (min-width: 530px) and (max-width: 768px) {
  body > section:nth-of-type(1) > h1 {
    width: auto;
  }
  body > section:nth-of-type(1) > h3 {
    padding-left: 17%;
    padding-right: 17%;
  }

  body > section:nth-of-type(2) > h2 {
    width: 100%;
    margin-left: 22px;
  }
  body > section:nth-of-type(2) > article {
    width: 397px;
  }

  body > section:nth-of-type(3) {
    padding-bottom: 7%;
  }
  body > section:nth-of-type(3) > h2 {
    margin-left: 3%;
    margin-bottom: 25px;
    width: 100%;
  }
  body > section:nth-of-type(3) > article {
    display: contents;
  }
  body > section:nth-of-type(3) > article > a {
    display: contents;
  }
  body > section:nth-of-type(3) > article > a > figure {
    width: 46%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 15px;
  }
  body > section:nth-of-type(3) > article > a > figure > img {
    height: auto;
  }
  body > section:nth-of-type(3) > article > a > figure > figcaption {
    margin-top: -3px;
  }
  body > section:nth-of-type(3) > article > a > figure > figcaption > i {
    right: inherit;
    margin-left: 36.2%;
  }
  body > section:nth-of-type(3) > article:nth-of-type(1) > a > figure > span {
    right: 54%;
  }
  body > section:nth-of-type(3) > article:nth-of-type(2) > a > figure > span {
    right: 5%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body > section:nth-of-type(1) > h1 {
    width: auto;
    font-size: 1.5em;
  }
  body > section:nth-of-type(1) > h3 {
    padding-left: 22%;
    padding-right: 22%;
    font-size: 1.2em;
  }

  body > section:nth-of-type(2) > h2 {
    width: 100%;
    margin-left: 6%;
  }
  body > section:nth-of-type(2) > article {
    width: 410px;
    margin-left: 10%;
    margin-right: 10%;
  }

  body > section:nth-of-type(3) {
    padding-bottom: 7%;
  }
  body > section:nth-of-type(3) > h2 {
    margin-left: 6%;
    margin-bottom: 25px;
    width: 100%;
  }
  body > section:nth-of-type(3) > article {
    display: contents;
  }
  body > section:nth-of-type(3) > article > a {
    display: contents;
  }
  body > section:nth-of-type(3) > article > a > figure {
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 15px;
  }
  body > section:nth-of-type(3) > article > a > figure > img {
    height: auto;
  }
  body > section:nth-of-type(3) > article > a > figure > figcaption {
    margin-top: -3px;
  }
  body > section:nth-of-type(3) > article > a > figure > figcaption > i {
    right: inherit;
    margin-left: 33%;
  }
  body > section:nth-of-type(3) > article:nth-of-type(1) > a > figure > span {
    right: 55.5%;
  }
  body > section:nth-of-type(3) > article:nth-of-type(2) > a > figure > span {
    right: 7.5%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  body > section:nth-of-type(1) > p {
    font-size: 1.05em;
  }
  body > section:nth-of-type(1) > h1 {
    width: auto;
    font-size: 1.65em;
  }
  body > section:nth-of-type(1) > h3 {
    padding-left: 30%;
    padding-right: 30%;
    font-size: 1.35em;
    width: 377px;
  }

  body > section:nth-of-type(2) {
    justify-content: space-evenly;
    height: 275px;
    padding-bottom: 20px;
  }
  body > section:nth-of-type(2) > h2 {
    width: 100%;
    margin-left: 4%;
  }
  body > section:nth-of-type(2) > article {
    width: 27%;
    margin-left: 0%;
    margin-right: 0%;
  }
  body > section:nth-of-type(2) > article:nth-of-type(2) {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  body > section:nth-of-type(3) {
    padding-bottom: 7%;
  }
  body > section:nth-of-type(3) > h2 {
    margin-left: 4%;
    margin-bottom: 25px;
    width: 100%;
  }
  body > section:nth-of-type(3) > article {
    display: contents;
  }
  body > section:nth-of-type(3) > article > a {
    display: contents;
  }
  body > section:nth-of-type(3) > article > a > figure {
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 15px;
  }
  body > section:nth-of-type(3) > article > a > figure > img {
    height: auto;
  }
  body > section:nth-of-type(3) > article > a > figure > figcaption {
    margin-top: -5px;
  }
  body > section:nth-of-type(3) > article > a > figure > figcaption > i {
    right: inherit;
    margin-left: 34%;
  }
  body > section:nth-of-type(3) > article:nth-of-type(1) > a > figure > span {
    right: 55.5%;
    margin-left: 0%;
  }
  body > section:nth-of-type(3) > article:nth-of-type(2) > a > figure > span {
    right: 7.5%;
    margin-left: 0%;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1940px) {
  body > section:nth-of-type(1) {
    height: 345px;
  }
  body > section:nth-of-type(1) > p {
    font-size: 1.1em;
    margin-bottom: 15px;
  }
  body > section:nth-of-type(1) > h1 {
    width: auto;
    font-size: 1.65em;
  }
  body > section:nth-of-type(1) > h3 {
    padding-left: 36%;
    padding-right: 36%;
    font-size: 1.4em;
    width: auto;
  }
  body > section:nth-of-type(1) > button {
    width: 268px;
    height: 58px;
    font-size: 1.11em;
  }

  body > section:nth-of-type(2) {
    justify-content: space-evenly;
    height: 250px;
    padding-bottom: 20px;
  }
  body > section:nth-of-type(2) > h2 {
    width: 100%;
    margin-left: 4%;
    font-size: 1.6em;
  }
  body > section:nth-of-type(2) > article {
    width: 380px;
    margin-left: 0%;
    margin-right: 0%;
  }
  body > section:nth-of-type(2) > article > p {
    padding: 7px;
    padding-top: 3px;
    width: 11.5px;
    font-size: 16.5px;
    height: 15px;
  }
  body > section:nth-of-type(2) > article:nth-of-type(1) > i {
    font-size: 1.4em;
  }
  body > section:nth-of-type(2) > article:nth-of-type(2) {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  body > section:nth-of-type(2) > article:nth-of-type(2) > i {
    font-size: 1.3em;
  }
  body > section:nth-of-type(2) > article:nth-of-type(3) > i {
    font-size: 1.15em;
  }
  body > section:nth-of-type(2) > article > h3 {
    font-size: 1.21em;
  }

  body > section:nth-of-type(3) {
    padding-bottom: 5%;
  }
  body > section:nth-of-type(3) > h2 {
    margin-left: 4%;
    margin-bottom: 39px;
    width: 100%;
    font-size: 1.6em;
  }
  body > section:nth-of-type(3) > article {
    display: contents;
  }
  body > section:nth-of-type(3) > article > a {
    display: contents;
  }
  body > section:nth-of-type(3) > article > a > figure {
    width: 34%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 15px;
    margin-bottom: 35px;
  }
  body > section:nth-of-type(3) > article > a > figure > img {
    height: auto;
  }
  body > section:nth-of-type(3) > article > a > figure > figcaption {
    margin-top: -10px;
    height: 80px;
  }
  body > section:nth-of-type(3) > article > a > figure > figcaption > h3 {
    font-size: 1.3em;
  }
  body > section:nth-of-type(3) > article > a > figure > figcaption > p {
    font-size: 1.15em;
  }
  body > section:nth-of-type(3) > article > a > figure > figcaption > i {
    right: inherit;
    margin-left: 30%;
    font-size: 1.6em;
    margin-top: -58px;
  }
  body > section:nth-of-type(3) > article:nth-of-type(1) > a > figure > span {
    right: 57.5%;
    margin-left: 0%;
    font-size: 1em;
  }
  body > section:nth-of-type(3) > article:nth-of-type(2) > a > figure > span {
    right: 11.5%;
    margin-left: 0%;
    font-size: 1em;
  }
}
@media screen and (min-width: 1941px) {
  body > section:nth-of-type(1) {
    height: 355px;
  }
  body > section:nth-of-type(1) > p {
    font-size: 1.3em;
    margin-bottom: 15px;
  }
  body > section:nth-of-type(1) > h1 {
    width: auto;
    font-size: 1.8em;
  }
  body > section:nth-of-type(1) > h3 {
    padding-left: 39%;
    padding-right: 39%;
    font-size: 1.5em;
    width: auto;
  }
  body > section:nth-of-type(1) > button {
    width: 283px;
    height: 58px;
    font-size: 1.2em;
  }

  body > section:nth-of-type(2) {
    justify-content: space-around;
    height: 250px;
    padding-bottom: 20px;
  }
  body > section:nth-of-type(2) > h2 {
    width: 100%;
    margin-left: 1%;
    font-size: 1.7em;
  }
  body > section:nth-of-type(2) > article {
    width: 459px;
    margin-left: 0%;
    margin-right: 0%;
  }
  body > section:nth-of-type(2) > article > p {
    padding: 8px;
    padding-top: 3px;
    width: 11px;
    font-size: 18px;
    height: 15px;
  }
  body > section:nth-of-type(2) > article:nth-of-type(1) > i {
    font-size: 1.4em;
  }
  body > section:nth-of-type(2) > article:nth-of-type(2) {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  body > section:nth-of-type(2) > article:nth-of-type(2) > i {
    font-size: 1.3em;
  }
  body > section:nth-of-type(2) > article:nth-of-type(3) > i {
    font-size: 1.15em;
  }
  body > section:nth-of-type(2) > article > h3 {
    font-size: 1.21em;
  }

  body > section:nth-of-type(3) {
    padding-bottom: 3%;
  }
  body > section:nth-of-type(3) > h2 {
    margin-left: 1%;
    margin-bottom: 39px;
    width: 100%;
    font-size: 1.7em;
  }
  body > section:nth-of-type(3) > article {
    display: contents;
  }
  body > section:nth-of-type(3) > article > a {
    display: contents;
  }
  body > section:nth-of-type(3) > article > a > figure {
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 15px;
    margin-bottom: 35px;
  }
  body > section:nth-of-type(3) > article > a > figure > img {
    height: auto;
  }
  body > section:nth-of-type(3) > article > a > figure > figcaption {
    margin-top: -12px;
    height: 90px;
  }
  body > section:nth-of-type(3) > article > a > figure > figcaption > h3 {
    font-size: 1.45em;
  }
  body > section:nth-of-type(3) > article > a > figure > figcaption > p {
    font-size: 1.3em;
  }
  body > section:nth-of-type(3) > article > a > figure > figcaption > i {
    right: inherit;
    margin-left: 19.5%;
    font-size: 1.86em;
    margin-top: -63px;
  }
  body > section:nth-of-type(3) > article:nth-of-type(1) > a > figure > span {
    right: 77%;
    margin-left: 0%;
    font-size: 1.2em;
  }
  body > section:nth-of-type(3) > article:nth-of-type(2) > a > figure > span {
    right: 52%;
    margin-left: 0%;
    font-size: 1.2em;
  }

  footer {
    padding-left: 0%;
    text-align: center;
    height: 131px;
  }
  footer > h2 {
    font-size: 1.35em;
    text-align: initial;
    padding-left: 6%;
    margin-bottom: 0%;
    padding-top: 0.2%;
  }
  footer > h3 {
    font-size: 1.1em;
    display: inline-block;
    margin-right: 2.5%;
  }

  #loading > img {
    bottom: 45.5%;
  }
}

/*# sourceMappingURL=style.css.map */
