@mixin button {
    height: 50px;
    border: 0px solid black;
    border-radius: 50px;
    color: white;
    font-family: $police2;
    font-size: 1em;
    background: linear-gradient(174deg, $color2, $color1);
    box-shadow: 0px 3px 9px #afafaf;
    cursor: pointer;
    transition: all 500ms;

    &:hover {
        background: linear-gradient(174deg, lighten($color2, 1.5%), lighten($color1, 1.5%));
        box-shadow: 0px 3px 9px darken(#969696, 10%);
     }
}

@mixin btnJaime {
    transition: all 150ms;
    cursor: pointer;

    &:hover {
        font-weight: bold;
        background: -webkit-linear-gradient(235deg,$color1, $color2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}